---
import Navbar from "./SeccionInicio/Navbar.astro";
---

<section class="h-screen">
    <Navbar />
    <article class="h-full bg-gradient-to-b from-my-sin-500 to-crusta-500">
    </article>
</section>
