<nav class="h-20 flex justify-around items-center shadow-sm">
    <img src="Logo.png" alt="logo" class="w-48 h-20" />
    <p>
        <span class="font-bold">Delivery para:</span>
        <i class="fa-solid fa-location-dot"></i> Ubicacion actual<span
            class="font-bold"
        >
            Melipilla</span
        >
    </p>
    <div class="flex gap-3">
        <div class="flex items-center gap-2">
            <i class="fa-solid fa-magnifying-glass text-my-sin-500"></i>
            <input
                type="text"
                name="buscar"
                id="buscar"
                class="w-full h-10 px-2 py-1 text-gray-700 bg-white rounded-md shadow-sm appearance-none group-focus-within:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200 focus:border-blue-500 sm:text-sm"
                placeholder=" Buscar productos..."
                required
            />
        </div>
        <div
            class="flex items-center gap-1 shadow-sm shadow-my-sin-300 rounded-md p-2"
        >
            <i class="fa-solid fa-user text-my-sin-500"></i>
            <p class="text-my-sin-500">Iniciar sesión</p>
        </div>
    </div>
</nav>
